body {
    margin: 0;
    background-color: #decdac;
    font-family: cursive;
}

.popup {
    background-color: white;
    width: 600px;
    height: 295px;
    border-radius: 32px;
    padding: 8px;
    position: fixed;
    inset: 0;
    margin: auto;
    box-shadow: 0 5px 4px 2px rgba(0, 0, 0, 0.3);
    transform: scale(0);
    transition: ease-in .3s;
    /* display: none; */
}

.popup.open {
    /* display: block; */
    transform: scale(1);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) .3s;
}

.close-icon {
    font-size: 40px;
    color: #decdac;
    font-weight: bold;
    position: absolute;
    right: 16px;
    cursor: pointer;
    font-family: serif;
}

.popup h2,
p {
    color: black;
    margin: 0 0 0 308px;
    font-family: serif;
    font-size: 19px;
}

.popup h2 {
    margin-top: 53px;
    font-size: 38px;
}

.search-box {
    border-radius: 30px;
    /* padding: 10px; */
    margin: 50px auto;
    width: 482px;
    text-align: center;
    border: 2px solid #beb5b5;
}

.search-box input {
    width: 60%;
    border-radius: 20px 0px 0px 20px;
    padding: 10px;
    border: none;
    margin-right: 10px;
    outline: none;
}

.search-box button {
    background-color: #FFC107;
    border: none;
    padding: 18px 31px 16px 50px;
    border-radius: 0px 25px 25px 0px;
    cursor: pointer;
}

.first-popup {
    background-color: white;
    width: 400px;
    height: 200px;
    border-radius: 32px;
    padding: 8px;
    position: fixed;
    inset: 0;
    margin: auto;
    box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.3);

}

.first-popup h3 {
    background-color: #EBBF53;
    color: black;
    width: 200px;
    height: 20px;
    border-radius: 32px;
    padding: 8px;
    font-weight: 100;
    position: fixed;
    inset: 0;
    margin: auto;
    text-align: center;
    font-family: sans-serif;
    box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.first-popup button {
    margin-left: 320px;
    margin-top: 140px;
    font-size: 30px;
    border: none;
    background-color: white;
    cursor: pointer;
}